<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<button href='/' class="btn"><i class="fa fa-home"></i> 
	<a href="/" class="button">Home Page</a>
	
	</button>

	<link rel="stylesheet" type="text/css" href="/_errors/main.css"/>
	<title>Error 401 - %{HOSTNAME}</title>
	<style>
		html{
			background-color: #0D73D8;
		}
		
		body{
			color: #fefefe;
		}
	</style>
</head>

<body>
<div class="error-middle">
	<h1>Error 401 - Unauthorized</h1>
	<p>The 401 (Unauthorized) status code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.Please check the bearer token </p>
</div>
</body>
</html>