<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button href='/' class="btn"><i class="fa fa-home"></i> 
<a href="/" class="button">Home Page</a> 

<p><a href="index.html" class="button">triL</a></p>

</button>
<head>
	<link rel="stylesheet" type="text/css" href="/_errors/main.css"/>
	<title>Error 401 - %{HOSTNAME}</title>
	<style>
		html{
			background-color: #0D73D8;
		}
		
		body{
			color: #fefefe;
		}
	</style>
</head>

<body>
<div class="error-middle">
	<h1>Error 420 - Too many requests</h1>
	<p>The 401 (Unauthorized) status code indicates that you exceeded the request limit ,please try again after 15 minutes</p>
</div>
</body>
</html>